.htaccess
.htpasswd
wp-config.php
excluded
wp-content/themes/twentythirteen
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentynineteen

wp-content/uploads
wp-content/uploads_old
wp-content/cache
wp-content/w3tc-config
wp-content/advanced-cache.php
wp-content/db.php
wp-content/import

wp-content/plugins/simply-static/static-files
wp-content/themes/<theme>/assets/tmp

social
translations
forum
node_modules
static
.sass-cache
wp-content/object-cache.php
wp-content/memos
static-*
statis-*
error_log
test/*
wp-admin/error_log
wp-content/uploads_*.tgz
